<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Welcome to gregularexpression.</p>
      </div>
      <div class="col-lg-4">
        <p>For many years, I have been involved with technology, working around it across several jobs.  The problem (for me anyway) is that I didn't really ever get into <b>doing</b> anything with it.  That is, until now.  This website will detail my journey into hands-on technology. </p>
      </div>

    </div>
  </div>
</section>
